# OpenAI API key for LLM and embedding calls.
OPENAI_API_KEY=...

# Google API key for Gemini LLM calls.
GOOGLE_API_KEY=...

# DeepSeek API key for DeepSeek LLM calls.
DEEPSEEK_API_KEY=...

# Anthropic API key for Claude LLM calls.
ANTHROPIC_API_KEY=...

# suported ollama models
OLLAMA_MODELS=...

# supported openai models
OPENAI_MODELS=...

# supported gemini models
GEMINI_MODELS=...

# supported deepseek models
DEEPSEEK_MODELS=...

# supported anthropic models
ANTHROPIC_MODELS=...